<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Appenders -->
    <appender statisticsName="console" class="org.apache.log4j.ConsoleAppender">
        <param statisticsName="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param statisticsName="ConversionPattern" value="[%d{HH:mm:ss.sss}][%X{workId}][%p]:%m%n"/>
        </layout>
    </appender>

    <logger statisticsName="com.asiainfo.stream">
        <level value="debug"/>
    </logger>

    <!-- Root Logger -->
    <root>
        <priority value="warn"/>
        <appender-ref ref="console"/>
    </root>

</log4j:configuration>
